*{
	margin: 0;
	padding: 0;
}

body{
	
}

img {
	width: 100%;
	height: 100%;
}

/*-------------------------------------------------------------------
Buttons
--------------------------------------------------------------------*/

.button-circlebig{
	display: block;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	
}

.button-circlebigred{
	background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(144, 16, 0) 68%, rgb(111, 12, 0) 100%);
	position: absolute;
	top: -65px;
	left: -145px;
}

.button-circlebigblue{
	background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(3, 0, 119) 68%, rgb(0, 33, 111) 100%);
	position: absolute;
	top: -65px;
	right: -145px;
}

.gear-btn{
	display: block;
	text-decoration: none;
	width: 50px;
	height: 50px;
	background: url("../img/gear-btn.png") no-repeat center center;
	background-size: contain;
}

.btn-add{
	display: block;
	text-decoration: none;
	width: 50px;
	height: 50px;
	background: url("../img/btn-add.png") no-repeat center center;
	background-size: contain;
}

.btn{
	position: absolute;
	left: 1px;
	top: 1px;
	bottom: 1px;
	z-index: 1;
	width: 35px;
	padding: 0;
	border: 1px solid #fff;
	background: url("../img/money.png") no-repeat center center;
	background-size: contain;

}

.heath-button {
	position: absolute;
	left: 1px;
	top: 1px;
	bottom: 1px;
	width: 30px;
	padding: 0;
	background: url("../img/man.png") no-repeat center center;
	background-size: contain;
}

/*-------------------------------------------------------------------
Elements
---------------------------------------------------------------------*/

.cube {
	grid-column: span 2;
	grid-row: span 2;
	background: url("../img/cube.png") no-repeat center center;
	background-size: contain;
}

.cube:hover::after {
    content: 'Какой то текст подсказки, используется для того чтобы описать какойто передмет, или что то в этом роде';
    z-index: 2; /* Отображаем подсказку поверх других элементов */
    background: rgba(0,0,0,0.7); /* Полупрозрачный цвет фона */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    color: #fff;
   }

.runa {
	background: url("../img/runa.png") no-repeat center center;
	background-size: contain;
}

.runa-time {
	background: url("../img/runa-time.png") no-repeat center center;
	background-size: contain;
}

.runa-branch {
	background: url("../img/runa-branch.png") no-repeat center center;
	background-size: contain;
}

.runa-fire {
	background: url("../img/runa-fire.png") no-repeat center center;
	background-size: contain;
}

.runa-pear {
	background: url("../img/runa-pear.png") no-repeat center center;
	background-size: contain;
}

.orange-ring{
	background: url("../img/orange-ring.png") no-repeat center center;
	background-size: contain;
}

.helmet-big{
	grid-column: span 2;
	grid-row: span 2;
	background: url("../img/helmet-big.png") no-repeat center center;
	background-size: contain;
}

.life {
	background: url("../img/life.png") no-repeat center center;
	background-size: contain;
}

.runa-cristall {
	background: url("../img/runa-cristall.png") no-repeat center center;
	background-size: contain;
}

.runa-fang {
	background: url("../img/runa-fang.png") no-repeat center center;
	background-size: contain;
}

.head {
	background: url("../img/head.png") no-repeat center center;
	background-size: contain;
}

.almaz-green {
	background: url("../img/almaz-green.png") no-repeat center center;
	background-size: contain;
}

.almaz-yellow {
	background: url("../img/almaz-yellow.png") no-repeat center center;
	background-size: contain;
}

.medal {
	background: url("../img/medal.png") no-repeat center center;
	background-size: contain;
}

.blue-book {
	grid-row: span 2;
	background: url("../img/blue-book.png") no-repeat center center;
	background-size: contain;
}

.gold-book {
	grid-row: span 2;
	background: url("../img/gold-book.png") no-repeat center center;
	background-size: contain;

}

.eye {
	background: url("../img/eye.png") no-repeat center center;
	background-size: contain;
}


/*-----------------------------------------------------------------
Grid
-------------------------------------------------------------------*/

.box{
	border: 1px solid #fff;

}

/*------------------------------------------------------------------
Background
-------------------------------------------------------------------*/

.container {
	width: 1332px;
	height: 978px;
	margin: auto;
	background-image: url("../img/back-big.png");
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-inventory{
	margin-top: 95px;
	margin-bottom: 10px;
	display: flex;
}

.inventory {
	width: 540px;
	height: 790px;
	background-image: url("../img/bg_item.png");
	background-size: contain;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.equipment {
	width: 540px;
	height: 790px;
	background-image: url("../img/bg_item-right.png");
	background-size: contain;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer{
	width: 950px;
	height: 85px;
	display: flex;
}

.footer-life{
	position: relative;
	width: 430px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-center{
	width: 90px;
	height: 85px;
	background: url("../img/footer-center.png") no-repeat top center;
	background-size: contain;
}

.footer-potion{
	position: relative;
	width: 430px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/*----------------------------------------------------------------
Inventory
---------------------------------------------------------------*/

.inventoty-gold{
	width: 300px; 
	height: 80px;
	background: rgba(0, 0, 0, 0.7);
	margin-top: 40px;
	margin-bottom: 15px;
}

.gold-max, .mygold {
	width: 100%;
	height: 35px;
	color: #fff;
	background: rgba(0, 0, 0, 0.7);
	font-size: 25px;
}

.gold-price {
	position: relative;
}

.mygold {
	position: relative;
	display: block;
	margin-bottom: 10px;
}


.inventory-panel{
	width: 490px;
	height: 490px;
	background: rgba(0, 0, 0, 0.7);

	display: grid;
	grid-template-columns: repeat(10, 49px);
	grid-template-rows: repeat(10, 49px);
}

.inventory-button{
	width: 490px;
	display: flex;
	justify-content: flex-end;
	padding-top: 18px;
	padding-right: 15px;
}

/*-----------------------------------------------------------------
Equipment
-------------------------------------------------------------------*/

.equipment-things {
	width: 490px;
	height: 345px;

	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: space-between;
}

.equipment-inventory {
	width: 490px;
	height: 300px;
	background: rgba(0, 0, 0, 0.7);

	display: grid;
	grid-template-columns: repeat(10, 49px);
	grid-template-rows: repeat(10, 49px);
}

.equipment-gold{
	width: 490px;
	height: 70px;
	position: relative;
}



.gold-eq{
	position: absolute;
	width: 250px;
	top: -40px;
	left: 100px;
}

.gold-eqitem {
	left: 100px;
	top: -40px;
	height: 37px;
}


.things-inventory, .things-items, .things-ring, .things-potion{
	height: 345px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.things-inventory{
	width: 110px;
}

.things-items {
	width: 110px;
}

.things-ring {
	width: 40px;
	justify-content: flex-end;
}

.things-potion {
	width: 40px;
	justify-content: flex-end;
}

.staff, .gloves, .boots, .mantle, .belt, .necklace, .ring, .potion{
	border: 1px solid #fff;
}

.staff{
	height: 230px;
	width: 110px;
	background: #000;
}

.gloves, .boots {
	height: 105px;
	width: 110px;
	background: #000;
}

.mantle {
	width: 110px;
	height: 165px;
	background: #000;
}

.belt, .necklace {
	width: 110px;
	height: 80px;
	background: #000;
}

.ring, .potion{
	width: 40px;
	height: 40px;
	background: #000;
}

.potion {
	margin-top: 220px;
}



/*----------------------------------------------------------------------
Button click
-----------------------------------------------------------------------*/

.slider, .slider1 {
	position: relative;
	border-radius: 25px 25px 0 0;
	text-align: center;
	margin: auto;
}


.slide {
	width: auto;
	padding: 0 0 5% 0;
}

.slide img {
	width: 100%;
	height: 100%;
}

#slide-1:checked ~ .slide-1 {
	display: block;
}

#slide-1:checked ~ .slide-2 {
	display: none;
}

#slide-2:checked ~ .slide-2 {
	display: block;
}

#slide-2:checked ~ .slide-1 {
	display: none;
}

.slide1 {
	width: auto;
	padding: 0 0 5% 0;
}

.slide1 img {
	width: 100%;
	height: 100%;
}

#slide-3:checked ~ .slide-3 {
	display: block;
}

#slide-3:checked ~ .slide-4 {
	display: none;
}

#slide-4:checked ~ .slide-4 {
	display: block;
}

#slide-4:checked ~ .slide-3 {
	display: none;
}

	
/*--------------------------------------------------------------------
Footer element
---------------------------------------------------------------------*/

.btn-f9{
	width: 85px;
	height: 85px;
}

.life-panel{
	width: 200px;
	height: 85px;

	display: flex;
	flex-direction: column;
}

.heath {
	position: relative;
}

meter {
	width: 100%;
	height: 5px;
	margin: 10px 0;
	background: #000;
	border: 1px solid #fff;
}

.heath-item {
	width: 100%;
	height: 38px;
	border: 1px solid #fff;
	background: #ffa500;
}

.potion-life{
	display: flex;

}

.potion-item {
	display: flex;
	align-items: flex-end;
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	margin: 1px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}